<div class=" columns is-multiline">

    {{#each this.defCities}}
        
        <div class="columnscities column is-half">
            <div class="card">
                <div class="is-center box-image">
                    <figure class="image imagecity">
                        <img src="{{this.img}}" alt="Photo of {{this.name}}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{this.name}}<span class="tag is-primary is-light is-medium is-pulled-right">Plans: {{this.total}}</span></p> 
                            <p class="subtitle is-6">{{this.country}}</p>
                        </div>
                    </div>
                    <div class="content">{{this.description}}</div>

                    {{#if ../searchParams}}
                        <form action="/cities/plans" method="POST">
                            <input id='days' type="hidden" name='days' value={{../searchParams.days}}>
                            <input id='budget' type="hidden" name='budget' value={{../searchParams.budget}}>
                            <input id='tagsWanted' type="hidden" name='tagsWanted' value={{../searchParams.tagsWanted}}>
                            <input id='tagsNotWanted' type="hidden" name='tagsNotWanted' value={{../searchParams.tagsNotWanted}}>
                            <input id='cityName' type="hidden" name='cityName' value={{this.name}}>
                            <button class="button is-medium is-primary is-fullwidth">View Plans</button>
                        </form>
                    {{else}}
                        <form action="/cities/plans" method="GET">
                            <a href="/cities/{{this.name}}/plans" class="button is-medium is-primary is-fullwidth">View Plans</a>
                        </form>
                    {{/if}}
                </div>
            </div>   
        </div>

    {{/each}}
</div>
