<div class="detailstyle">
  <input type="hidden" id="planId" value="{{this.planDetails._id}}">
  <div class="containermap">
    <div id='phototile' class='columns is-gapless is-marginless'>
      <div class="column">
        <figure class="imagedetails box is-primary image is-4by3">
          <img src={{this.planDetails.city.img}}>
        </figure>
      </div>
      <div class="column">
        <article class="infocard card notification">
          <p class="title is-6">City: {{this.planDetails.city.name}}</p>
          <p class="subtitle is-6">Country: {{this.planDetails.city.country}}</p>
          <p class="subtitle is-6">Budget: {{this.planDetails.budget}}</p>
          <p class="subtitle is-6">Tags: 
            {{#each this.planDetails.tags}}
                <span class="tag is-primary is-small">{{this}}</span>
            {{/each}}
          </p>
          <p class="subtitle is-6">Submitted by: <a href="/users/{{this.planDetails.user._id}}">{{this.planDetails.user.username}}</a></p>
        </article>
      </div>
    </div>
    <div id="plansMap"></div>
  </div>

  <div class="dayscard notification is-pulled-right">
    {{#if this.currentUser}}
      <button id="addFav" class="button is-danger is-light is-pulled-right"><i class="far fa-heart"></i>Add to favs</button>
    {{/if}}
    <p class="title">Daily schedule</p>
    <p class="subtitle">This is your itinerary for each day</p>
    <div id="tabs-with-content" class="plan-detail">
      <div class="tabs is-centered">
        <ul>
          {{#each this.planDetails.days}}
          <li><a>Day {{this.index}}</a></li>
          {{/each}}
        </ul>
      </div>

      <div class='columns columnsday'>
        {{#each this.planDetails.days}}
        <section class="tab-content">
          <div class='column'>
            <div class='box'>

              <div class="title is-4 day">
                <div class="dayschedule box">

                  <p class="title is-4 has-text-centered"> Morning </p>
                  {{#each this.morning}}
                  <p class="title is-4 "></i> {{this.place}}</p>
                  <p class="subtitle is-6 "><i class="fas fa-clock"></i> {{this.duration}}</p>
                  <p class="subtitle is-5"><i class="fas fa-map-marked-alt"></i> {{this.address}}</p>
                  <p class="subtitle is-6">{{this.description}}</p>
                  {{/each}}
                </div>
                <div class="dayschedule box">
                  <p class="title is-4 has-text-centered"> Afternoon </p>

                  {{#each this.afternoon}}
                  <p class="title is-4 "></i> {{this.place}}</p>
                  <p class="subtitle is-6 "><i class="fas fa-clock"></i> {{this.duration}}</p>
                  <p class="subtitle is-5"><i class="fas fa-map-marked-alt"></i> {{this.address}}</p>
                  <p class="subtitle is-6">{{this.description}}</p>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
          <div class='column'>
            <div class='box'>
              <div class="">
                <div class="box">
                  <p class="title is-4 has-text-centered"> Breakfast </p>
                  <p class="title is-4 "><i class="fas fa-utensils"></i> {{this.breakfast.place}}</p>
                  <p class="subtitle is-8"><i class="fas fa-map-marked-alt"></i> {{this.breakfast.address}}</p>
                  <p class="subtitle is-6">{{this.breakfast.description}}</p>
                </div>
                <div class="box">
                  <p class="title is-4 has-text-centered"> Lunch </p>
                  <p class="title is-4 "><i class="fas fa-utensils"></i> {{this.lunch.place}}</p>
                  <p class="subtitle is-8"><i class="fas fa-map-marked-alt"></i> {{this.lunch.address}}</p>
                  <p class="subtitle is-6">{{this.lunch.description}}</p>
                </div>
                <div class="box">
                  <p class="title is-4 has-text-centered"> Dinner </p>
                  <p class="title is-4 "><i class="fas fa-utensils"></i> {{this.dinner.place}}</p>
                  <p class="subtitle is-8"><i class="fas fa-map-marked-alt"></i> {{this.dinner.address}}</p>
                  <p class="subtitle is-7">{{this.dinner.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        {{/each}}
      </div>

    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqLcOKC6QYpCGzK4DDxej5_IdaoSHwY_o"></script>