<div class="detailstile">
  <div class="containermap">
    <div id='phototile' class="">

        <figure class="image">
          <img src={{this.planDetails.city.img}}>
        </figure>




        <article class="infocard card notification is-warning">
          <p class="title is-6">{{this.planDetails.city.name}}</p>
          <p class="subtitle is-6">{{this.planDetails.city.country}}</p>
        </article>

    </div>

      <div id="plansMap"></div>

  </div>
  


    <article class="dayscard card is-child notification is-success is-pulled-rigth">

        <p class="title">Days</p>
        <p class="subtitle">This is your itinerary for each day</p>
        <div id="tabs-with-content">
          <div class="tabs is-centered">
            <ul>
              {{#each this.planDetails.days}}
              <li><a>Day {{this.index}}</a></li>
              {{/each}}
            </ul>
          </div>

            <div class='columns'>
              {{#each this.planDetails.days}}
              <section class="tab-content">
                <div class='card'>
                  <div class='box'>

                    <div class="title is-3 day">
                      <p class="title is-3 has-text-centered"> Breakfast </p>
                      <p class="title is-4 "><i class="fas fa-utensils"></i> {{this.breakfast.place}}</p>
                      <p class="subtitle is-8"><i class="fas fa-map-marked-alt"></i> {{this.breakfast.address}}</p>
                      <p class="subtitle is-7">{{this.breakfast.description}}</p>
                      <p class="title is-3 has-text-centered"> Lunch </p>
                      <p class="title is-4 "><i class="fas fa-utensils"></i> {{this.lunch.place}}</p>
                      <p class="subtitle is-8"><i class="fas fa-map-marked-alt"></i> {{this.lunch.address}}</p>
                      <p class="subtitle is-7">{{this.lunch.description}}</p>
                      <p class="title is-3 has-text-centered"> Dinner </p>
                      <p class="title is-4 "><i class="fas fa-utensils"></i> {{this.dinner.place}}</p>
                      <p class="subtitle is-8"><i class="fas fa-map-marked-alt"></i> {{this.dinner.address}}</p>
                      <p class="subtitle is-7">{{this.dinner.description}}</p>
                    </div>
                  </div>
                </div>
                <div class='card'>
                  <div class='box'>
                    <div class="title is-3 day">
                      <p class="title is-3 has-text-centered"> Breakfast </p>
                      <p class="title is-4 "><i class="fas fa-utensils"></i> {{this.breakfast.place}}</p>
                      <p class="subtitle is-8"><i class="fas fa-map-marked-alt"></i> {{this.breakfast.address}}</p>
                      <p class="subtitle is-7">{{this.breakfast.description}}</p>
                      <p class="title is-3 has-text-centered"> Lunch </p>
                      <p class="title is-4 "><i class="fas fa-utensils"></i> {{this.lunch.place}}</p>
                      <p class="subtitle is-8"><i class="fas fa-map-marked-alt"></i> {{this.lunch.address}}</p>
                      <p class="subtitle is-7">{{this.lunch.description}}</p>
                      <p class="title is-3 has-text-centered"> Dinner </p>
                      <p class="title is-4 "><i class="fas fa-utensils"></i> {{this.dinner.place}}</p>
                      <p class="subtitle is-8"><i class="fas fa-map-marked-alt"></i> {{this.dinner.address}}</p>
                      <p class="subtitle is-7">{{this.dinner.description}}</p>
                    </div>

                  </div>
                </div>
              </section>
              {{/each}}
            </div>

        </div>
    </article>


</div>