<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://kit.fontawesome.com/637d771c93.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/logos/logo_transparent.png">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/home" class="navbar-item">
          Home
        </a>

        <a href="/cities" class="navbar-item">
          Explore Cities
        </a>

        <a href="/plans" class="navbar-item">
          Explore Plans
        </a>

        <a href="#" class="navbar-item">
          About
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {{#if currentUser}}
            <a href="/create" class="button is-primary is-light">
              <strong>Create your plan</strong>
            </a>
            <a href="/users/{{currentUser._id}}/favorites" class="button is-primary is-light">
              <strong>Your favorites</strong>
            </a>
            <a href="/users/{{currentUser._id}}" class="button is-warning is-outlined">
              <strong>Logged in as {{currentUser.username}}</strong>
            </a>
            <a href="/auth/logout" class="button is-warning is-outlined">
              <strong>Log out</strong>
            </a>
            {{else}}
            <a href="/auth/signup" class="button is-warning is-outlined">
              <strong>Sign Up</strong>
            </a>
            <a href="/auth/login" class="button is-light">
              Log in
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>


  {{{body}}}

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Trippai</strong> by <a target="_blank" href="https://github.com/arturogbruno">Arturo</a> & <a
          target="_blank" href="https://github.com/josemhruiz">Jose</a>.
      </p>
    </div>
  </footer>
  <script src="/javascripts/maps.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/create.js"></script>
  <script src="/javascripts/buttons.js"></script>
  <script src="/javascripts/main.js"></script>



</body>

</html>