<div class="columns">
    <div class="column is-2 is-offset-2">
        <div class="card">
            <div class="card-image">
                <figure class="user-image">
                    <img src="{{this.userFound.imgPath}}" alt="user image">
                </figure>
            </div>
            <div class="card-content">
                <div class="user-info">
                    <p class="title is-4">{{this.userFound.username}}</p>
                    <p class="subtitle is-6">City: {{this.userFound.cityOrigin}}</p>
                </div>
            </div>
        </div>
    </div>

    {{#if this.owner}}
        <div class="column is-5 is-offset-1">
            <p class="title is-4">Edit your profile:</p>
            <form action="/users/{{this.currentUser._id}}/edit" method="POST" enctype="multipart/form-data">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" name="username" value="{{this.currentUser.username}}">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" name="email" value="{{this.currentUser.email}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">City</label>
                    <div class="control">
                        <input class="input" type="text" name="cityOrigin" value="{{this.currentUser.cityOrigin}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Change your image:</label>
                    <div class="control">
                        <input type="file" name="user-img">
                    </div>
                </div>
                <div class="field">
                    <p class="control">
                        <button type="submit" class="button is-primary is-fullwidth">Save changes</button>
                    </p>
                </div>
            </form>
        </div>
    {{/if}}
</div>

<div class="columns userPlans">
    <div class="column is-8 is-offset-2">
        <p class="title is-4">Plans submitted by {{this.userFound.username}}:</p>
        {{#if userPlans}}
                {{#each this.userPlans}}
                    <article class="message">
                        <div class="message-body">
                            {{#each this.tags}}
                                <span class="tag is-primary is-medium is-pulled-right">{{this}}</span>
                            {{/each}}
                            <span class="tag is-primary is-light is-medium is-pulled-right">{{this.budget}}</span>
                            <span class="tag is-primary is-light is-medium is-pulled-right">Days: {{this.numberOfDays}}</span>
                            <p class="is-size-5 has-text-weight-bold"><a href="/plans/{{this._id}}/details">{{this.name}}</a></p>
                            <p class="is-size-5">{{this.city.name}}</p>
                            <p>{{this.description}}</p>
                            {{#if ../owner}}
                                <a href="/plans/delete/{{this._id}}" class="button is-small is-danger is-pulled-right"><i class="far fa-trash-alt"></i>Delete plan</a>
                            {{/if}}
                        </div>
                    </article>
                    <hr>
                {{/each}}
        {{else}}
            <p class="title is-5">{{this.currentUser.username}} hasn't submitted any plan yet.</p>
        {{/if}}
    </div>
</div>